<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>エラー</title>
    <link rel="shortcut icon" href="./icon.png">
    <link rel="stylesheet" href="./css/style1.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/particleground.min.js"></script>
    <script src="./js/particles.js"></script>
</head>

<body>
    <div id="particles"></div>
    <div id="app">
        <h1>
            <div class="font">
                <%- content %>
            </div>
        </h1>
        <div class="button003">
            <a href="/">戻る</a>
        </div>
    </div>
</body>

</html>