<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./icon.png" />
    <link rel="apple-touch-icon-precomposed" href="./icon.png" />
    <meta property="og:title" content="エラー" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="最高で最強のチクビゲーのエラー画面" />
    <meta property="og:image" content="./icon.png" />
    <meta property="og:site_name" content="エラー" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:description" content="最高で最強のチクビゲーのエラー画面" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="最高で最強のチクビゲーのエラー画面">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>エラー</title>
    <link rel="shortcut icon" href="./icon.png">
    <link rel="stylesheet" href="./css/style1.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/particleground.min.js"></script>
    <script src="./js/particles.js"></script>
</head>

<body>
    <div id="particles"></div>
    <div id="app">
        <h1>
            <div class="font">
                <%- content %>
            </div>
        </h1>
        <div class="button003">
            <a href="/">戻る</a>
        </div>
    </div>
</body>

</html>